<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Isobar task login page</title>

</head>

<body>
<h3>Welcome Administrator</h3>

<p>This page is restricted.</p>
</body>
</html>
